* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.demo-header:after, .nav:after {
  content: '';
  display: table;
  clear: both;
}

.demo-header {
  background-color: #29ABE2;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  padding: 0 15px;
}

.logo {
  display: inline-block;
  float: left;
  width: 100px;
  margin-top: 10px;
}

.nav {
  float: right;
  width: calc(100% - 100px);
  white-space: nowrap;
}
.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-list {
  float:right; ;
}
.nav-list > li {
  display: inline-block;
}
.nav-list li {
  position: relative;
}
.nav-list a {
  display: block;
  padding: 25px 20px;
  color: #ffff;
  font-size: 20px;
  font-family: 'Kalam', cursive;
  text-decoration: none;
}
.nav-list .sub-menu {
  position: absolute;
  background-color: #29ABE2;
  width: 200px;
  right: 0;
  top: 100%;
  display: none;
}
.nav-list .sub-menu a {
  padding: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.nav-list .sub-menu .sub-menu {
  top: 0;
  right: 100%;
}
.nav-list li:hover > .sub-menu {
  display: block;
}

/*FOOTER*/
html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 60px; /* bottom has to be the same as footer height */
}
footer {
    /* just for demo */
    background-color: #29ABE2;
    border-top: 1px solid #E7E7E7;
    color: #ffff;
    text-align:center;
    padding:20px;
    font-family: 'Kalam', cursive;
   /* just for demo */ 
  
    position: absolute;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
}
