* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.demo-header:after, .nav:after {
  content: '';
  display: table;
  clear: both;
}

.demo-header {
  background-color: #29ABE2;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  padding: 0 15px;
}

.logo {
  display: inline-block;
  float: left;
  width: 100px;
  margin-top: 10px;
}

.nav {
  float: right;
  width: calc(100% - 100px);
  white-space: nowrap;
}
.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-list {
  float:right; ;
}
.nav-list > li {
  display: inline-block;
}
.nav-list li {
  position: relative;
}
.nav-list a {
  display: block;
  padding: 25px 20px;
  color: #ffff;
  font-size: 20px;
  font-family: 'Kalam', cursive;
  text-decoration: none;
}
.nav-list .sub-menu {
  position: absolute;
  background-color: #29ABE2;
  width: 200px;
  right: 0;
  top: 100%;
  display: none;
}
.nav-list .sub-menu a {
  padding: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.nav-list .sub-menu .sub-menu {
  top: 0;
  right: 100%;
}
.nav-list li:hover > .sub-menu {
  display: block;
}

/*FOOTER*/
html {
    /*position: relative;*/
    min-height: 100%;
}
/*body {
    margin: 0 0 60px;  bottom has to be the same as footer height 
}*/
footer {
    /* just for demo */
    background-color: #29ABE2;
    border-top: 1px solid #E7E7E7;
    color: #ffff;
    text-align:center;
    padding:20px;
    font-family: 'Kalam', cursive;
   /* just for demo */ 
  
    position: absolute;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
}

/*CATEGORIAS*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*body {
  background: #FFF;
  font-family: 'Open Sans', Arial, 'Helvetica Neue', Sans-serif, Verdana, Tahoma;
  font-size: 62.5%;
}*/

ul {list-style-type: none;}

a {
  color: #1396e1; 
  text-decoration: none;
}

.clearfix:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  clear: both;
}

/** ==========================================
 * Contendor Principal 
 =============================================*/
 .main-wrapper {
  /*display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;*/
  display: flex;
  
  /*-webkit-flex-flow: row wrap;
  justify-content: space-around;*/
  margin: 50px auto 40px;
  width: 960px;
 }

 .main-wrapper input[type="radio"] {
  display: none;
 }

 /* Titulo 
 ---------------------*/
 .main-title {
  color: #242424;
  font: 400 3.2em 'Open Sans', Arial, Sans-serif, Verdana;
  text-align: center;
 }

 .main-title a {
  color: #1396e1;
  font-size: 0.5em;
  font-weight: 700;
 }

 /* Lista de Categorias 
 --------------------------------------------*/
 .list-category {
  display: block;
  text-align: center;
  margin-top: 20px;
 }

.list-category li {
  display: inline-block;
  font-size: 1.6em;
}

.list-category label {
  display: inline-block;
  color: #E5E5E5;
  cursor: pointer;
  background: #3e4257;
  -webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,0.25);
  box-shadow: inset 0 -2px 0 rgba(0,0,0,0.25);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 12px 16px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

/* Imagenes / En este caso divs de colores :C
 --------------------------------------------------*/
 .list-images {
  color: #000;
  display: block;
  margin-top: 40px;
  text-align: center;
 }

 .list-images li {
  opacity: 0.3;
  width: 200px;
  height: 120px;
  margin: 5px;
  display: inline-block;
  border: 4px solid #FFF;
  -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.15);
  box-shadow: 0 0 0 1px rgba(0,0,0,0.15);
  color: #FFF;
  font-size: 1.5em;
  font-weight: 700;
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
 }

.list-images li span {
  position: relative;
  top: 40px;
}

.list-images .type-ficcion {background: #3fab91;}
.list-images .type-mascotas {background: #ffbb45;}
.list-images .type-navidad {background: #db559a;}
.list-images .type-halloween {background: #994356;}

/* Estilos cuando un radio esta seleccionado
 --------------------------------------------------*/
#all:checked ~ .list-category label[for="all"],
#ficcion:checked ~ .list-category label[for="ficcion"], 
#mascotas:checked ~ .list-category label[for="mascotas"], 
#navidad:checked ~ .list-category label[for="navidad"], 
#halloween:checked ~ .list-category label[for="halloween"] {
  background: #1396e1;
  color: #FFF;
}

/* Filtramos las clases mediante el selector ~
 --------------------------------------------------*/
#all:checked ~ .list-images li {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

#ficcion:checked ~ .list-images .type-ficcion,
#mascotas:checked ~ .list-images .type-mascotas,
#navidad:checked ~ .list-images .type-navidad,
#halloween:checked ~ .list-images .type-halloween {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}